@import url('https://fonts.cdnfonts.com/css/aller');

* {
  font-size: 12pt;
  font-family: "Aller", "Segoe UI", sans-serif;
}

.author {
  font-size: 8pt;
}

button, input, textarea {
  background-color: #404040;
  border-color: #404040;
  color: #eee;
  border-radius: 8px;
  border-style: none;
  min-height: 32px;
}

.editor-holder {
  width: 100%;
}

textarea {
  padding: 8px;
  width: calc(100% - 16px);
  max-width: calc(100% - 16px);
  height: 480px;
  resize: none;
}

textarea:focus, input:focus{
  outline: none;
}

#editor {
  font-size: 12pt;
}

body {
  background-color: #333;
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 24pt;
}

.App {
  padding: 24px;
  width: calc(100vw - 48px);
  max-width: 512px;
  min-height: calc(100vh - 48px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: #222;
}

#editor {
  width: 100%;
  font-family: 'Cascadia Code', 'Courier New', Courier, monospace;
}

.uploadHolder {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
}

.exportHolder {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.genLink {
  display: flex;
  gap: 8px;
  flex-direction: row;
  width: 100%;
}

.genLink > button {
  flex-grow: 2;
}

.genLink > input {
  flex-grow: 3;
}

#inputLink {
  height: calc(32px - 8px);
  flex-grow: 4;
  padding: 4px;
}

#importBtn {
  flex-grow: 2;
}